.img{
    border: solid rgb(248, 1, 1) 2px;
    background:rgb(9, 252, 1);
    width: 180px;
    height:250px;
}
.container{
    display: grid;
    gap: 20px;

}
.options{
    justify-content: center;
    display:flex;
    flex-direction: row;
    gap: 60px;
}
.puzzle{
    display:flex;
    gap: 10px;
    top: 250px;
    flex-direction: row;
    position: relative;
}
.drop-zone{
    padding: 10px;
    z-index: 1;
}
.draggable{
    position:absolute;
    z-index: 2;
}
.cartel{
    border: solid black 2px;
    padding: 10px;
    z-index: 1000;
    position: relative;
    width: max-content;
    border-radius: 15px;
    top: 350px;
    left: 350px;
}
.cartel-mal{
    border: solid black 2px;
    background: rgb(253, 144, 144);
    padding: 10px;
    z-index: 1000;
    position: relative;
    width: max-content;
    border-radius: 15px;
    top: 350px;
    left:350px; ;
}
.cartel-bien{

    background: rgb(154, 247, 147);
}


